<h1>Update Building Form</h1>

<%=form_for @building do |f| %>
    

    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :country %>
    <%= f.text_field :country %> 

    <%= f.label :adress %>
    <%= f.text_field :address %>

    <%= f.label :rent_per_floor %>
    <%= f.number_field :rent_per_floor %>

    <%= f.label :number_of_floors %>
    <%= f.text_field :number_of_floors %>

    <%= f.submit %>
    <%end%>