<%= form_for @company do |f| %>
	<ul>
		<% if @company.errors.any? %>
			<%= @company.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
		<% end %>
	</ul>
	<% end %>
<p>Creating new company:</p>
<%=form_for @company do |f| %>
	<%= f.label :name %>
	<%= f.text_field :name %>
<p>Building Floors Available: </p>
	<% Building.all.each do |b| %>
		<%= f.fields_for :offices, b do |b_field| %>
			<%= b_field.hidden_field :id %><br>
			<%= b_field.label b.name %>
			<%= b_field.collection_check_boxes :offices, b.empty_offices, :floor, :floor %>
		<% end %>
	<% end %>
	<br>
	<%= f.submit %>
<% end %>
